c8y_test/application.properties
c8y_test/debug.test
examples/issue#2-realtime/out.txt
test/microservice_test/application.log
test/microservice_test/debug.test
test/microservice_test/application.properties
test/c8y_test/application.properties
test/c8y_test/debug.test
test/c8y_test/application.setup.properties
.cumulocity/
temp-example/
c8y.env
c8y.activitylog.*.json
c8y~
tools/PSc8y/c8y
main.exe
*.log
output
pkg/powershell/powershell.todo.txt
pkg/powershell/c8y.exe
cmd/c8y/c8y.exe
pkg/powershell/c8y
pkg/powershell/c8y.exe~
pkg/powershell/.c8y.ps1
pkg/powershell/.c8y.sh
trace.out
pkg/powershell/PSC8y.coverage.xml
.DS_Store
tools/PSc8y/report
tools/PSc8y/reports/
tools/PSc8y/reports
tools/PSc8y/TestResults.xml
tools/PSc8y/Dependencies/c8y*
tools/PSc8y/Dependencies/c8y.linux
tools/PSc8y/Dependencies/c8y.macos
tools/PSc8y/Dependencies/c8y.windows.exe
.jekyll-cache
tools/PSc8y/report.xml
tools/PSc8y/dist
docs/_site
node_modules
