name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  publish-nuget:
    runs-on: ubuntu-18.04
    env:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
    steps:
    - uses: actions/checkout@v2

    - name: Build Powershell Module
      run: make build_powershell

    - uses: actions/upload-artifact@v2
      with:
        name: ReleaseArtifacts
        path: |
          tools/PSc8y/dist/PSc8y.zip
          tools/PSc8y/Dependencies/*

    - name: Publish Powershell Module (PSc8y)
      run: make publish


  publish-docker-latest:
    runs-on: ubuntu-latest
    needs: [publish-nuget]
    if: "true"
    env:
      CR_PAT: ${{ secrets.CR_PAT }}

    steps:
    - uses: actions/checkout@v2 # Checking out the repo

    - name: Set VERSION env
      run: echo ::set-env name=VERSION::${GITHUB_REF#refs/*/v}

    - name: publish docker images
      run: make VERSION=${VERSION} publish-docker
